body{
	background-color: #000000;
	color: #777777;
}
div.liberty_or_death{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

 }
img.liberty_or_death{
	width: 300px;
	height: 200px;
}